<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Slick</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/content/slick/themes/slick/css/app.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-sly-use.page="${'net.zum.slick.SlickPage'}">
    <div class="page">
      <sly data-sly-include="../header.html" data-sly-unwrap></sly>
      
      <section>

        <div class="container">
          <article>
            <h1>${page.title}</h1>
            <div>${page.content @ context='html'}</div>
            
            <div data-sly-use.format="${'net.zum.slick.DateFormatting' @ date=page.date, dateFormat='MM/dd/yyyy'}">
            	${format.formattedValue}
            </div>
          </article>
        </div>

      </section>
    </div>
    <sly data-sly-include="../footer.html" data-sly-unwrap></sly>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/content/slick/themes/slick/js/app.js"></script>
  </body>
</html>