@font-face {
  font-family: 'GothamThinRegular';
  src: url('../fonts/gotham-thin-webfont.eot');
  src: url('../fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-thin-webfont.woff') format('woff'), url('../fonts/gotham-thin-webfont.ttf') format('truetype'), url('../fonts/gotham-thin-webfont.svg#gotham_thinregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamLightRegular';
  src: url('../fonts/gotham-light-webfont.eot');
  src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBookRegular';
  src: url('../fonts/gotham-book-webfont.eot');
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-book-webfont.woff') format('woff'), url('../fonts/gotham-book-webfont.ttf') format('truetype'), url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamMediumRegular';
  src: url('../fonts/gotham-medium-webfont.eot');
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBoldRegular';
  src: url('../fonts/gotham-bold-webfont.eot');
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamThinRegular';
  src: url('../fonts/gotham-thin-webfont.eot');
  src: url('../fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-thin-webfont.woff') format('woff'), url('../fonts/gotham-thin-webfont.ttf') format('truetype'), url('../fonts/gotham-thin-webfont.svg#gotham_thinregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamLightRegular';
  src: url('../fonts/gotham-light-webfont.eot');
  src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBookRegular';
  src: url('../fonts/gotham-book-webfont.eot');
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-book-webfont.woff') format('woff'), url('../fonts/gotham-book-webfont.ttf') format('truetype'), url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamMediumRegular';
  src: url('../fonts/gotham-medium-webfont.eot');
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBoldRegular';
  src: url('../fonts/gotham-bold-webfont.eot');
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Variables */
/* Overrides */
/* line 6, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
body {
  background: #FFF;
  font-family: "GothamLightRegular", "Lato"; }
  /* line 9, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  body a:hover, body a:active, body a:focus {
    text-decoration: none; }

/* line 14, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
b {
  font-family: "GothamMediumRegular";
  font-weight: normal; }

/* line 19, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
label {
  font-weight: normal; }

/* Public */
/* Sticky Footer Fix */
/* line 26, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
* {
  margin: 0; }

/* line 29, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
html, body {
  height: 100%; }

/* line 32, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
.page {
  min-height: 100%;
  margin-bottom: -72px; }

/* line 36, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
.page:after {
  content: "";
  display: block; }

/* line 40, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
.page:after {
  height: 72px; }

/* End Sticky Footer Fix */
/* line 46, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
header {
  margin-bottom: 40px;
  text-align: center; }
  /* line 50, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  header > a {
    display: inline-block; }
  /* line 54, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  header img {
    height: 60px;
    margin: 28px 0px; }
  /* line 59, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  header .pages-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 64, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
    header .pages-list li {
      display: inline; }

/* line 71, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
footer {
  background-color: #e7e7e7;
  height: 72px; }
  /* line 74, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  footer p {
    margin: 0px;
    color: #B6B6B6;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1rem;
    line-height: 7.2rem; }
    /* line 81, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
    footer p a {
      color: #B6B6B6; }

/* Article */
/* line 89, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
article {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 12rem; }
  /* line 98, /Users/cmillar/Documents/Workspace/slick/src/main/resources/jcr_root/content/slick/themes/slick/scss/app.scss */
  article img {
    max-width: 100%; }

/*# sourceMappingURL=app.css.map */