@import '../fonts/fonts';
@import 'colors';

/* Overrides */

b {
  font-family: "GothamMediumRegular";
  font-weight: normal;
}

/* Admin */
body {
  background: $body-grey;
  font-family: "GothamLightRegular";
	min-height: 100;
  a:hover {
    text-decoration: none;
  }
}

h3 {
  font-size: 1.4rem;
  font-family: GothamBoldRegular;
  font-weight: normal;
  text-transform: uppercase;
}

// Full Height when no content
html, body {
  height: 100%;
}
.admin-wrap {
  min-height: 100%;
  margin-bottom: -72px; 
  margin-bottom: -72px; 
}
.admin-wrap:after {
  content: "";
  display: block;
}
.admin-wrap:after {
  height: 72px; 
}

header {
  background: #FFF;
  width: 176px;
  position: fixed;
  top: 0;
  bottom: 0;
	text-align: center;

  img {
      height: 60px;
  		margin: 28px;
  }

  .menu {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      letter-spacing: .6rem;

      a {
        line-height: 60px;
        text-transform: uppercase;
        color: #C1C1C1;
        display: block;
        transition: background-color 0.24s ease;
      }
      a:hover {
        background-color: $slick-green;
        text-decoration: none;
        color: #FFF;
      }
    }
    li.current {
      a {
        background-color: $slick-green;
        color: #FFF;
      }
    }

     // Li
  } // Menu
} // Header

.admin-wrap {
  margin-left: 176px;
  padding: 28px;
	
	.subhead {
		margin-bottom: 28px;
		h1, h2, a {
		text-transform: uppercase;
		color: $medium-grey;
		font-size: 2.4rem;
		line-height: 60px;
		margin: 0px;
		float: left;
		}
		
		a {
			margin-left: 14px; 
			color: $slick-green;
		}

		h2 {
			float: right;
		}
	}
	
	
	
}

footer {
  padding: 28px;
  margin: 0px 0px 0px 176px;
	height: 72px;
  p {
    margin: 0px;
    color: $medium-grey;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1rem;
    a {
      color: $medium-grey;
    }
  }
}

/* Auth Item List */

.auth-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
	
		li {
			display: block;
			height: 60px;
			line-height: 60px;
			margin-bottom: 0px;
			transition: background 0.2s ease;
			position: relative;
			
			> a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transition: left 0.2s ease;
			}
			
			.date {
    		margin-right: 0px;
				transition: margin-right 0.2s ease;
			}
		}
}

.auth-list li:hover {
    background-color: #e6e6e6;

    > a {
      left: 14px;
    }
	
		.date {
			margin-right: 18px;
		}

    .auth-item-actions a {
      width: 60px;
      transition: width 0.2s ease;
    }

    .auth-item-actions .confirm.horizontal-collapse {
      width: 0px;
    }

}

.auth-list li 

.auth-item-actions {
    position: relative;

    a {
      display: block;
      overflow: hidden;
      float: right;
      height: 60px;
      width: 0px;
      text-indent: 1000px;
    }
}

.auth-item-actions .edit {
    background-color: #a6b79e;
    background-image: url('../img/edit-icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.auth-item-actions .view {
    background-color: #67969e;
    background-image: url('../img/view-icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.auth-item-actions .delete {
    background-color: #cc8579;
    background-image: url('../img/trash-icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.auth-item-actions .delete.cancel {
    background-image: url('../img/cancel-icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.horizontal-collapse {
    width: 0px;
}

.auth-list li:hover .auth-item-actions .confirm  {
    text-indent: 0;
    background: rgb(181, 59, 59);
    color: #fff;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
}

/* End Auth Item List */

form {
  input.form-control, textarea.form-control, .editor-area {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 24px 0px 24px 0px;
    font-size: 18px;
    font-size: 2rem;
    background-color: $body-grey;
  }

  .editor-area.placeholder {
    color: #999999;
  }

  textarea.form-control, .editor-area {
    padding: 14px 0px 14px 0px;
    width: 100%;
    min-height: 600px;
    font-size: 2rem;
    img {
      max-width: 100%;
    }
  }

  .editor-area:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .button {
    background-color: $slick-green;
    color: #fff;
    border: none;
    padding: 14px 22px;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  #draft-label {
    height: 50px;
    margin: 0px;
    line-height: 50px;
    background: #86C1CF;
    padding: 0px 14px 0px 52px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url(../img/draft-off-icon.svg);
    background-repeat: no-repeat;
    font-size: 1.6rem;
    font-weight: normal;
  }

  #draft-label:hover {
    background-color: #3698AF;
  }

  #draft:checked + #draft-label {
    background-image: url(../img/draft-on-icon.svg);
    background-repeat: no-repeat;
  }

  #toolbar {
    margin: 0px -8px;
    
    .edit-command {
      float: left;

      > a {
        display: block;
        padding: 7px;
        text-transform: uppercase;
        color: #A5CAA3;
      }

      > a:hover {
        background-color: $slick-green;
        color: #fff;
      }

    }  

    > .edit-command:last-child{
      float: right;
    }

  }

  #toolbar:after {
    display: table;
    content: " ";
    clear: both;
  }

}

.auth {
  .media-list {
    img {
      max-width: 100%;
    }
  }
}

/* User Entry */
.clever-input {
	position: relative;
  margin: 48px 0px;
	font-size: 2rem;
	
	label {
		color: $medium-grey;
  	position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		transition: top .25s ease-in;
		font-weight: normal;
		
		&.has-value {
			top: -28px;
		}
		
		&.red {
			color: rgb(181, 59, 59);
		}
		
	}
	
	input[type="text"],input[type="password"] {
		position: relative;
		border: none;
		background-color: transparent;
		z-index: 100;
  	padding: 0;
  	margin: 0;
	}	
}

