@font-face {
  font-family: 'GothamThinRegular';
  src: url('../fonts/gotham-thin-webfont.eot');
  src: url('../fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-thin-webfont.woff') format('woff'), url('../fonts/gotham-thin-webfont.ttf') format('truetype'), url('../fonts/gotham-thin-webfont.svg#gotham_thinregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamLightRegular';
  src: url('../fonts/gotham-light-webfont.eot');
  src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBookRegular';
  src: url('../fonts/gotham-book-webfont.eot');
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-book-webfont.woff') format('woff'), url('../fonts/gotham-book-webfont.ttf') format('truetype'), url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamMediumRegular';
  src: url('../fonts/gotham-medium-webfont.eot');
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBoldRegular';
  src: url('../fonts/gotham-bold-webfont.eot');
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamThinRegular';
  src: url('../fonts/gotham-thin-webfont.eot');
  src: url('../fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-thin-webfont.woff') format('woff'), url('../fonts/gotham-thin-webfont.ttf') format('truetype'), url('../fonts/gotham-thin-webfont.svg#gotham_thinregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamLightRegular';
  src: url('../fonts/gotham-light-webfont.eot');
  src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBookRegular';
  src: url('../fonts/gotham-book-webfont.eot');
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-book-webfont.woff') format('woff'), url('../fonts/gotham-book-webfont.ttf') format('truetype'), url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamMediumRegular';
  src: url('../fonts/gotham-medium-webfont.eot');
  src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBoldRegular';
  src: url('../fonts/gotham-bold-webfont.eot');
  src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold-webfont.woff') format('woff'), url('../fonts/gotham-bold-webfont.ttf') format('truetype'), url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Variables */
/* Overrides */
b {
  font-family: "GothamMediumRegular";
  font-weight: normal; }

/* Admin */
body {
  background: #efefef;
  font-family: "GothamLightRegular"; }
  body a:hover {
    text-decoration: none; }

header {
  background: #FFF;
  margin-bottom: 40px; }
  header img {
    height: 60px;
    float: left;
    margin: 28px 28px 28px 0px; }
  header .menu {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    header .menu li {
      float: left;
      letter-spacing: .6rem; }
      header .menu li a {
        line-height: 116px;
        text-transform: uppercase;
        padding: 0px 60px;
        color: #C1C1C1;
        display: block;
        transition: background-color 0.24s ease; }
      header .menu li a:hover {
        background-color: #009444;
        text-decoration: none;
        color: #FFF; }
    header .menu li.current a {
      background-color: #009444;
      color: #FFF; }

footer {
  background-color: #e7e7e7;
  padding: 28px;
  margin-top: 28px; }
  footer p {
    margin: 0px;
    color: #B6B6B6;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1rem; }
    footer p a {
      color: #B6B6B6; }

/* Auth Item List */
.auth-list {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.auth-list li {
  display: block;
  height: 68px;
  line-height: 68px;
  margin-bottom: 0px;
  transition: background 0.2s ease;
  position: relative; }

.auth-list li > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: left 0.2s ease; }

.auth-list li:hover {
  background-color: #e6e6e6; }
  .auth-list li:hover > a {
    left: 14px; }
  .auth-list li:hover .auth-item-actions a {
    width: 65px;
    transition: width 0.2s ease; }
  .auth-list li:hover .auth-item-actions .confirm.horizontal-collapse {
    width: 0px; }

.auth-list li .date {
  margin-right: 18px; }

.auth-item-actions {
  position: relative; }
  .auth-item-actions a {
    display: block;
    overflow: hidden;
    float: right;
    height: 68px;
    width: 0px;
    text-indent: 1000px; }

.auth-item-actions .edit {
  background-color: #a6b79e;
  background-image: url('../img/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%; }

.auth-item-actions .view {
  background-color: #67969e;
  background-image: url('../img/view-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%; }

.auth-item-actions .delete {
  background-color: #cc8579;
  background-image: url('../img/trash-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%; }

.auth-item-actions .delete.cancel {
  background-image: url('../img/cancel-icon.svg');
  background-repeat: no-repeat;
  background-position: 50%; }

.horizontal-collapse {
  width: 0px; }

.auth-list li:hover .auth-item-actions .confirm {
  text-indent: 0;
  background: #b53b3b;
  color: #fff;
  text-align: center;
  width: 100px;
  text-transform: uppercase; }

/* End Auth Item List */
form input.form-control, form textarea.form-control, form .editor-area {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 24px 0px 24px 0px;
  font-size: 18px;
  font-size: 2rem;
  background-color: #efefef; }
form .editor-area.placeholder {
  color: #999999; }
form textarea.form-control, form .editor-area {
  padding: 14px 0px 14px 0px;
  width: 100%;
  min-height: 600px;
  font-size: 2rem; }
  form textarea.form-control img, form .editor-area img {
    max-width: 100%; }
form .editor-area:focus, form .form-control:focus {
  outline: none;
  box-shadow: none; }
form .button {
  background-color: #009444;
  color: #fff;
  border: none;
  padding: 14px 22px;
  font-size: 1.6rem;
  text-transform: uppercase; }
form #toolbar {
  margin: 0px -8px; }
  form #toolbar .edit-command {
    float: left; }
    form #toolbar .edit-command > a {
      display: block;
      padding: 7px;
      text-transform: uppercase;
      color: #A5CAA3; }
    form #toolbar .edit-command > a:hover {
      background-color: #009444;
      color: #fff; }
  form #toolbar > .edit-command:last-child {
    float: right; }
form #toolbar:after {
  display: table;
  content: " ";
  clear: both; }

.auth .media-list img {
  max-width: 100%; }
