<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <sly data-sly-use.settings="${'net.zum.slick.models.Settings'}" data-sly-test.theme="${settings.properties.theme}" data-sly-unwrap></sly>
    <link rel="apple-touch-icon" href="/content/slick/themes/${theme}/img/apple-touch-icon.png">
    
    <title>Slick</title>

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="${settings.properties.url}/feed.xml" />
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/content/slick/themes/${theme}/css/app.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="page">
  	  <sly data-sly-include="../../templates/${settings.properties.theme}/header.html" data-sly-unwrap></sly>
  	  <div class="container" data-sly-use.list="${'net.zum.slick.pub.List' @ slickType=properties.slickType }" data-sly-list="${list.children}">
		  <p>${list.page}</p>
		  <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article>
                <h1><a href="${item.link}">${item.title}</a></h1>
                <p data-sly-use.format="${'net.zum.slick.libs.DateFormatting' @ date=item.date, dateFormat='MMM, d yyyy h:mm a'}">
               		${format.formattedValue}
               	</p>
                <div>${item.content @ context='unsafe'}</div>
              </article>
            </div>
          </div>
  	  </div>
  	</div>	  
    <sly data-sly-include="../../templates/${settings.properties.theme}/footer.html" data-sly-unwrap></sly>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/content/slick/themes/${theme}/js/app.js"></script>
  </body>
</html>